textarea{
    height: 300px;
    width: 400px;
    margin-bottom: 20px;
}

.task{
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
}

.task > p{
    vertical-align: top;
    margin: 0;;
}

.flex > .task:nth-child(2n){
    background-color: bisque;
}

.flex{
    height: 60px;
    display: flex;
    border-bottom: 1px solid #999;
    width: 600px;
    margin-bottom: 30px;
}

.button_wrap{
    width: 20%;
    padding-top: 8px;
    text-align: left;
}

.button_wrap > button{
    width: 50%;
    margin-right: 0;
    margin-left: 50%;
}

.content_wrap{
    width: 500px;
    height: 300px;
    padding: 5px;
    background-color: #ddd;
    margin-bottom: 20px;
}

.content_wrap > p{
    margin: 0;
}